/*Aquí realice la pseudoclase active*/
a:active {
     color: red;
     } 
     
/*Aqui estoy realizando first:child*/
p:first-child {
    color: rgb(213, 216, 213);
    background-color: yellow;
    padding: 5px;
  }
  /*Aquí estoy realizando :first-of-type*/
  p:first-of-type {
    color: blue;
    font-style: italic;
  }
  /*Aqui estoy realizando el ejemplo :focus*/
  .red-input:focus {
    background: yellow;
    color: violet;
  }
  
  .blue-input:focus {
    background: rgb(0, 255, 34);
    color: grey;
  }
   /*Aqui estoy realizando el ejemplo :hover*/
   a {
    background-color: #d4d2dd;
    transition: backgroud-color .5s;
   }
   a:hover {
     background-color: rgb(223, 128, 191);
   }