/*Normalizando css*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
/*Aquí realice la pseudoclase active1*/
a:active {
     color: red;
     } 
     
/*Aqui estoy realizando first:child2*/
p:first-child {
    color: rgb(213, 216, 213);
    background-color: yellow;
    padding: 5px;
  }
  /*Aquí estoy realizando :first-of-type3*/
  p:first-of-type {
    color: blue;
    font-style: italic;
  }
  /*Aqui estoy realizando el ejemplo :focus4*/
  .red-input:focus {
    background: yellow;
    color: violet;
  }
  
  .blue-input:focus {
    background: rgb(0, 255, 34);
    color: grey;
  }
   /*Aqui estoy realizando el ejemplo :hover5*/
   a {
    background-color: #d4d2dd;
    transition: backgroud-color .5s;
   }
   a:hover {
     background-color: rgb(223, 128, 191);
   }
   /*enabled6*/
   input:enabled {
    color: rgb(187, 34, 141);
  }
  
  input:disabled {
    color: #aaa;
  }
  /*lang*/
  :lang(en) > q {
     quotes: '« ' ' »';
     }
     /*last:child*/
     p:last-child {
      color: rgb(221, 30, 157);
      background-color: rgb(248, 244, 244);
      padding: 5px;
    }
    /*last-of-type*/
    p:last-of-type{
      color: lightblue ;
      font: medium;

    }