/*Aquí realice la pseudoclase active*/
a:active {
     color: red;
     } 
     
/*Aqui estoy realizando first:child*/
p:first-child {
    color: lime;
    background-color: black;
    padding: 5px;
  }